*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f7fb;
    color: #333;
    line-height: 1.6;
}

.hero{
    background-color: #44ACFF;
    color: white;
    padding: 40px 20px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}


.image-preview {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.image-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.image-oval {
    width: 350px;
    height: 200px;
    border-radius: 40%;
    object-fit: cover;
}

.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #44ACFF;
    color: white;
}

.form-container {
    /* width: 50%;
    max-width: 600px; */
    padding: 20px 500px;
}

.form-group {
    margin-bottom: 15px; 
}

.form-group label {
    display: block; 
    margin-bottom: 5px; 
    
}
.form-control {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.form-control:focus {
    border-color: #44ACFF; 
    outline: none; 
}

.required {
    color: red;  
}

.form-group-inline {
    display: flex;       
    gap: 10px;           
}

.inline-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.inline-item-parents {
    display: flex;
    gap: 20px;
}

.button-group {
    margin-top: 20px;
}

.btn {
    background-color: #44ACFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
